# Day02_03_ Pythonic programming_asterisk
<font size=5><b>\*args \& \**kargs<b></font>
<div align='right'>류 회 성<br>(Hoe Sung Ryu)</div>

  
<img src='https://littledeep.com/wp-content/uploads/2020/11/night-sky-illustration-v2-style2-1024x854.png' width=50%>

    
---

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#가변인자" data-toc-modified-id="가변인자-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>가변인자</a></span><ul class="toc-item"><li><span><a href="#*args" data-toc-modified-id="*args-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span><code>*args</code></a></span></li><li><span><a href="#**kargs" data-toc-modified-id="**kargs-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span><code>**kargs</code></a></span></li></ul></li><li><span><a href="#Split" data-toc-modified-id="Split-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Split</a></span></li><li><span><a href="#Join" data-toc-modified-id="Join-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Join</a></span></li></ul></div>

## 가변인자

### `*args`
- parameter 이름 앞의 * :
- 임의의 개수의 인자값들을 받아 tuple로 저장

In [40]:
def add_num(*args):
    total_sum = 0 
    for x in args:
        total_sum +=x
    return total_sum

In [41]:
add_num(1,2,3,4)

10

In [42]:
# 내장함수를 사용하여 더욱 간단하게 

def add_num(*args):
    return sum(args)

In [43]:
add_num(1,2,3,4)

10

### `**kargs`

- 사전dictionary을 통째로 변수로 받음

In [45]:
def price(**cost):
    for key,value in cost.items():
        print(f'교통수단{key} 요금{value}')

In [ ]:
def price(**cost):
    for i in cost:
        print(f'교통수단{i:<7s} 요금{cost[i]:>4d}원')

In [46]:
cost = {'walking': 0, 'bus':1200, 'taxi':3800}
price(**cost)

교통수단walking 요금0
교통수단bus 요금1200
교통수단taxi 요금3800

In [ ]:
def count_price(*count,**cost): # 순서 바뀌면 안됨
    total = 0 
    c = 0
    for key, value in cost.items():
        total+= count[c]*value
        print(f'교통수단{key} {count[c]}회',end='\n')
        c+=1
    print(f"총 요금:{total}원")

In [ ]:
count = [1,2,3]
cost = {'walking': 0, 'bus':1200, 'taxi':3800}
count_price(*count,**cost)

<div class="alert alert-success">
    <b>예제(Exercise)</b>:
    <ul>
        <li>
        다음을 값을 출력하시오 
        </li>
    </ul>
</div>

입력값
```python 
count = [1,2,3]
fruits = {"포도":6000,"수박":12000,"자두":4000}
```
출력값
```python 
과일:    포도 01개
과일:    수박 02개
과일:    자두 03개
총 요금: 42000원
```

## Split

In [47]:
tmp1 = 'file.mp4'
tmp1.split('.')

['file', 'mp4']

In [48]:
tmp2 = 'python,c++,JAVA'
tmp2.split(',')

['python', 'c++', 'JAVA']

<hr style="height:3px;border:none;color:#5F71F7;background-color:#5F71F7;" />

<div class="alert alert-success">
    <b>예제(Exercise)</b>:
    <ul>
        <li>
        다음 문자열을 txt = "The quick brown fox jupsover the lazy dog" 다음과 같이 출력하시오
        </li>
    </ul>
</div>

```python 
['The', 'quick', 'brown', 'fox', 'jupsover', 'the', 'lazy', 'dog']
```

## Join

In [50]:
'a'+'b'

'ab'

In [49]:
''.join('a''b')

'ab'

'red-blue-green'

<hr style="height:3px;border:none;color:#5F71F7;background-color:#5F71F7;" />

<div class="alert alert-success">
    <b>예제(Exercise)</b>:
    <ul>
        <li>
        다음 리스트를 colors = ['red', 'blue', 'green'] 다음과 같이 출력하시오
        </li>
    </ul>
</div>

```python 
red-blue-green
redbluegreen
red,blue,green
```

<hr style="height:3px;border:none;color:#5F71F7;background-color:#5F71F7;" />

<div class="alert alert-success">
    <b>예제(Exercise)</b>:
    <ul>
        <li>
        과일의 비타민 함유량 출력하는 함수를 만들고자 한다. 
         <li>
         각 과일 이름과 함유량을 인자로 받아 dict로 저장하고, 이름과 함유량을 출력예와 같이 출력하는 함수 vitamin_c를 정의하라. 
        </li>
        </li>
    </ul>
</div>

예제
- 입력값: vitamin_c(citron=105,strawberry=94,quince=81,lemon=70,tangerine=39)
- 출력값: 

```python 
----------------------------------
Fruit Name      Vitamin C Content
----------------------------------
citron          105
strawberry      94
quince          81
lemon           70
tangerine       39
----------------------------------
총 함유량: 389
```

테스트 케이스 
vitamin_c(orange=43, kiwi=27, cherryTomato=21, appe=4)

<hr style="height:3px;border:none;color:#5F71F7;background-color:#5F71F7;" />

<div class="alert alert-success">
    <b>예제(Exercise)</b>:
    <ul>
        <li>
        다음을 값을 출력하시오 __ 중첩리스트 
        </li>
    </ul>
</div>

```python 
(0, 0) (0, 1) (0, 2) 
(1, 0) (1, 1) (1, 2) 
(2, 0) (2, 1) (2, 2) 
```

<hr style="height:3px;border:none;color:#5F71F7;background-color:#5F71F7;" />

<div class="alert alert-success">
    <b>예제(Exercise)</b>:
    <ul>
        <li>
        이름과 성적을 입력받아 합격 기준이 60점이 넘으면 '합격하였습니다.'를 출력하며, 그렇지 않은 경우는 '불합격하였습니다. 를 반환하는 함수를 만드시오.  
        </li>
    </ul>
</div>

함수 예제

```python 
def check_score(x,y,criterion=60):
    ''''... 생량 ...''''
   
```

테스트 케이스 
- check_score('A',90)
- check_score('B',40)

<hr style="height:3px;border:none;color:#5F71F7;background-color:#5F71F7;" />

<div class="alert alert-success">
    <b>예제(Exercise)</b>:
    <ul>
        <li>
        다음 학급에 김씨, 이씨가 각각 몇 명잇는지 구하시오.__ for문, if문 
        </li>
    </ul>
</div>

```python 
name_list='이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌'
```

<hr style="height:3px;border:none;color:#5F71F7;background-color:#5F71F7;" />

<div class="alert alert-success">
    <b>예제(Exercise)</b>:
    <ul>
        <li>
        다음 학급의 전체 인원 수 와 같은 이름이 몇명 있는지 구하시오.__ len, set 
        </li>
    </ul>
</div>

```python 
name_list='이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌'
```

<hr style="height:3px;border:none;color:#5F71F7;background-color:#5F71F7;" />

<div class="alert alert-success">
    <b>예제(Exercise)</b>:
    <ul>
        <li>
        주어진 문자열 안에서의 각 문자의 출현빈도를 사전형으로 만들어 반환하는 함수 ch_bin()을 작성하시오. 
        </li>
    </ul>
</div>

예제
- 입력값(input): brontosaurus
- 출력값: {'b': 1, 'r': 2, 'o': 2, 'n': 1, 't': 1, 's': 2, 'a': 1, 'u': 2}

테스트 케이스 
```python 
words = ['Seoul','Subway','Happy',
         'Deep Learning','Machine Learning',
         'NIA','Life','Python','apple','banana']
```

<hr style="height:3px;border:none;color:#5F71F7;background-color:#5F71F7;" />

<div class="alert alert-success">
    <b>예제(Exercise)</b>:
    <ul>
        <li>
        앞서 만든 함수 ch_bin()을 변형하여 1개만 잇는 문자들을 출력하게 만드시오. 
        </li>
    </ul>
</div>

예제
- 입력값(input): brontosaurus
- 출력값: {'b', 'n', 't',  'a' }

테스트 케이스 
```python 
words = ['Seoul','Subway','Happy',
         'Deep Learning','Machine Learning',
         'NIA','Life','Python','apple','banana']
```